.catBox {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
}

.cattributes {
    z-index: -1;
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
