.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hair{
  width: 200px;
  height: 200px;
  background: darkred;
  border-radius: 41% 59% 89% 11% / 92% 3% 97% 8% ;
  transform: rotate(deg);
  position: relative;
}

.face {
  width: 200px;
  height: 200px;
  background: brown;
  border-radius:40% 60% 17% 83% / 33% 44% 56% 67%;
  
  top: -135px;
  left: -147px;
}
.mask{
  width: 200px;
  height: 160px;
  background: lightpink;
  border-radius:40% 60% 17% 83% / 33% 44% 56% 67%;
  
  top: -135px;
  left: -147px;
  
}
.mouthbeard{
  position: relative;
  width: 100px;
  height: 50px;
  background: brown;
  border-radius:58% 42% 50% 50% / 30% 27% 73% 70%;
  top: 125px;
  right: -86px; 
}

.capshield{
  width: 200px;
  height: 15px;
  background: black;
  border-radius: 58% 42% 28% 72% / 52% 50% 50% 48%;
  position: relative;
  top: -80px;
  left: -60px;
  transform: rotate(-5deg);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.cap{
  width: 220px;
  height: 130px;
  background: black;
  border-radius: 36% 64% 7% 93% / 62% 78% 22% 38%;
  top: -120px;
  left: -40px;
  position: absolute;
  transform: rotate(-10deg);
  border: 1px solid;
  padding: 10px;
  /*box-shadow: 5px 10px 18px #888888;*/
}

.queue{
  width: 200px;
  height: 200px;
  background: darkred;
  border-radius: 90% 10% 80% 20% / 93% 17% 83% 7%  ;
  transform: rotate(-210deg);
  top: 230px;
  left: -135px;
  position: relative;  
}

.h1{ 
  font-weight: 20px;
}

.teardrop{
  width: 9px;
  height: 5px;
  background: blue;
  border-radius: 74% 26% 22% 78% / 52% 50% 50% 48% ;
  transform: rotate(-35deg);
  position: relative;
  top: 190px;
  left: -70px;

}

