.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
	z-index: +1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	left: -95px;




}	

.face {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 250px;
	height: 200px;
	background: #ff76aa;
	border-color: black;
	border: 0.3rem solid;
	border-radius: 49% 51% 51% 49% / 65% 65% 35% 35% ;
}

.eyes_nose{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	top: 16px;
	

}

.pupil{
	position: relative;
	width: 70px;
	height: 67px;
	border-radius: 50%;
	background: black;
	top: -3px;
	left: 1px;
}

#left_eye{
	width: 67px;
	height: 67px;
	border-radius: 49% 51% 27% 73% / 37% 47% 53% 63% ;
	border-color: black;
	border: 0.3rem solid;
	background: #0d7985;
}

.lights{
	position: relative;
	top: -58px;
	left: 12px;
}

.light1{
	width: 20px;
	height: 22px;
	background: white;
	border-radius: 50%;
}

.light2{
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
}


#right_eye{
	width: 67px;
	height: 67px;
	border-radius: 49% 51% 27% 73% / 37% 47% 53% 63% ;
	border-color: black;
	border: 0.3rem solid;
	background: #0d7985;
}

#nose{
	display: flex ;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	width: 50px;
	height: 50px;
	background: #e92770;
	border-radius: 50%;
	margin: 3px;
	top: 20px;
}

.nostril{
	width: 13px;
	height: 19px;
	background: black;
	border-radius: 49% 51% 51% 49% / 50% 52% 48% 50% ;
}

.cheek{
	position: relative; 
	width: 38px;
	height: 24px;
	background: #e92770;
	border-radius: 49% 51% 51% 49% / 50% 52% 48% 50% ;
	transform: rotate(0deg);
	margin-left: 50px;
	margin-right: 50px;
	top: 20px;
}

#mouth-shut{
	width: 10px; /*modulate this value to move the lower jaw*/
    height: 32px;
    border: 0.3rem solid black;
	border-width: 0.3rem 0px 0.3rem 0.3rem;
    border-radius: 50% 0 0 50%;
	transform: rotate(-90deg);
	border-color: transparent transparent transparent black;
	animation-name: chewing;
  	animation-duration: 1.15s;  	
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}

/* The animation code */
@keyframes chewing{
  0% {width: 26px;}
  12.5%{width: 47px;}
  25% {width: 10px;}
  37.5% {width: 26px;}
  50%{width: 47px;}
  72.5%{width: 26px;}
  100%{width: 10px;}
}


.bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.top{
	z-index: -1;
	position: relative;
	display: flex;
	top: 132px;
	left: 0px;
	

}
.innerear{
	position: relative;
	width: 65px;
	height: 65px;
	background :  deeppink;
	border-radius: 0% 100% 41% 59% / 0% 28% 72% 100%;
	border-color: black;
	border: 0.3rem solid;
	top: 5px;
	left: 5px;
}

#left_ear{
	width: 85px;
	height: 85px;
	border-radius: 0% 100% 41% 59% / 0% 28% 72% 100%;
	border-color: black;
	border: 0.3rem solid;
	background: #ff76aa;
	margin-right: 160px;
	
	
}

#right_ear{
	width: 85px;
	height: 85px;
	border-radius: 0% 100% 41% 59% / 0% 28% 72% 100%;
	border-color: black;
	border: 0.3rem solid;
	background: #ff76aa;
	transform: scale(1, -1) rotate(180deg);
	margin-bottom: 50px;
	
	

}

.body{
	z-index: 0;
	position: relative;
	width: 468px;
	height: 500px;
	border-radius: 70% 30% 63% 37% / 66% 25% 75% 34%      ;
	border-color: black;
	border: 0.3rem solid;
	background: #ff76aa;
	transform: rotate(68deg);
	top: 107px;
	left: 208px;
}


.leg1{
	position: relative;
	width: 131px;
	height: 184px;
	border-style: solid;
	border-radius: 49% 51% 100% 0% / 55% 49% 51% 45% ;
	transform: rotate(-71deg);
	top: 219px;
	left: 314px;
	background: #ff76aa;
	
	
}



.leg2{
	z-index: -3;
	position: relative;
	width: 131px;
	height: 184px;
	border-style: solid;
	border-radius: 49% 51% 100% 0% / 55% 49% 51% 45% ;
	transform: rotate(-240deg) scale(1,-1);
	top: -241px;
	left: 385px;
	background: #ff76aa;
}

.leg3{
	position: relative;
	width: 131px;
	height: 232px;
	border-style: solid;
	border-radius: 49% 51% 100% 0% / 55% 49% 51% 45% ;
	transform: rotate(-71deg);
	top: -206px;
	left: 67px;
	background: #ff76aa;
}

.tail{
	z-index: -2;
	position: relative;
	width: 238px; 
    height: 126px;
    border: 0.3rem solid black;
	border-width: 0.6rem 0px 0.6rem 0.6rem;
    border-radius: 50% 0 0 50%;
	border-color: transparent transparent transparent black;
	transform: rotate(106deg);
	top: 12px;
	left: -193px;
}